.servicesItem {
	display: flex;
	flex-direction: column;

	&__imgContainer {
		border-radius: 50%;
		background-color: rgba(0, 0, 0, 0.03);
		width: 125px;
		height: 125px;
		position: relative;
		margin: 0 auto;
		transition: 0.5s;
		&:hover {
			box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); //shadow
			position: relative;
			margin-bottom: 10px;
			margin-top: -10px;
		}

		&--2 {
			position: relative;
			margin: 0 auto;
			height: 125px;
		}
	}
	&__img {
		//   https://www.freecodecamp.org/news/how-to-center-anything-with-css-align-a-div-text-and-more/
		width: 55px;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);

		&--2 {
			//https://www.w3schools.com/howto/howto_css_image_center.asp
			@extend .servicesItem__img;
			width: 150px;
			box-sizing: border-box;
		}
	}
	&__title {
		// @extend %textBase;
		display: block;
		margin: 0;
		font-size: 16px;
		line-height: 1.2em;
		font-weight: 600;
		text-align: center;
		padding: 10px 0;
	}
	&__desc {
		// @extend %textBase;
		font-size: 15px;
		margin: 0;
		font-weight: 400;
		color: #9e9e9e;
		text-align: center;
	}
}
